<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= form_with url: flights_path, method: :get do |form|  %>
  <%= form.label :departure_airport_id%>
  <%= form.select(:departure_airport_id, @departing_airport_options) %> <br>

  <%= form.label :arrival_airport_id%>
  <%= form.select(:arrival_airport_id, @arriving_airport_options) %> <br>

  <%= form.label "Number of Passengers" %>
  <%= form.select :num_tickets, options_for_select(1..4) %> <br>

  <%= form.label "Date" %>
  <%= form.select(:start, @departure_date_options) %> <br>

  <%= form.submit "Search" %>
<% end %>

<% if @search_results && @search_results.any? %>
<h3>Search results: </h3>
  <%= form_with do |form| %>


    <% @search_results.each do |flight|%>
      <div class='flightresults'>
        <div class='radio'>
          <%= form.radio_button :flight_id, :flight_id%>
        </div>
        <div class='flightattributes'>
          <%= form.label "Flight number: " + flight.id.to_s%> <br>
          <%= form.hidden_field :num_tickets, value: @num_tickets%> 
          Departing Airport: <%= flight.departure_airport.iata%> <br>
          Arriving Airport: <%= flight.arrival_airport.iata%> <br>
          Departure Date: <%= flight.start%>
        </div>
      </div>
    <%end%>

    <%= form.submit "Book" %>
  <% end %>

<%elsif @search_results %>
  <p>No flights match your criteria.</p>
<%else%>

<%end%>

