<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<h3>Booking Details:</h3>

Confirmation number: <%= @booking.id %><br>
Flight number: <%= @booking.flight_id %><br>
From: <%= @booking.flight.departure_airport.iata%><br>
To: <%= @booking.flight.arrival_airport.iata%> <br><br>

Passenger details: <br>
<% @passengers.each do |passenger|%>
  <% passenger_id = passenger.id %>
  <li>Name: <%= passenger.name%></li>
  <li>Email: <%= passenger.email%></li>
  <% if @passengers.length > 1%>
    <%= button_to "Remove Passenger", passenger_path(passenger_id), method: :delete %>
  <%end%>

<%end%>

<br>

<div data-controller="toggle"
  data-toggle-primary-class="hidden">
  <div data-toggle-target="button">
  <% booking = @booking.id %>
  <%= form_with model: @passenger do |f| %>
    <%= f.hidden_field :booking_id, value: booking%> 
    <%= f.label :name %> 
    <%= f.text_field :name %> <br>
    <%= f.label :email %> 
    <%= f.text_field :email %> <br>

    <%= f.submit "Add Passenger" %>
    
  <% end %>
  <button data-toggle-target="button" data-action="toggle#clicked">
    Undo
  </button>
  </div>

  <button data-toggle-target="button2" data-action="toggle#clicked">
    Add Passenger
  </button>
</div>